/**
 * File created to fix problems while migrating to bootstrap4,
 * Once migration is done this can be made final
 */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* Behave more like an application by
   * preventing text highlighting / dragging. */
  -webkit-user-select: none;
  cursor: default;
}

body, button {
  font-family: 'Ubuntu', sans-serif;
}

#wrapper {
  min-height: 100%;
  position: relative;
  background: white;
}

.center {
  text-align: center;
  vertical-align: middle;
  color: white;
}

.backdrop-simple {
  background-color: #f4f4f4;
}

.cursor-wait {
  cursor: wait;
}

/************************
 * Header
*************************/

#header {
  padding: 8px 0;
  background-color: #9F1E2C;
  z-index: 10
}

#header .logo {
  height: 64px;
}

#header h1 {
  color: white;
  margin-left: 16px;
  line-height: 64px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

#header h2 {
  margin-left: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}

#title-inject {
  display: none;
}

/************************
 * Content
*************************/

#content {
  padding-top: 32px;
  padding-bottom: 64px;
}

.btn-showcase {
  margin: 10px 0;
  padding-left: 0;
  padding-right: 0;
}

.btn-showcase .btn {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.btn-showcase .btn-lg {
  font-size: 1rem;
  text-transform: uppercase;
  height: 40px;
  width: 90%;
  text-align: center;
  line-height: 2.2em;
  margin: auto 5%;
}

.button-group .btn-icon {
  vertical-align: middle;
  color: #FFB500;
  width: 20px; 
}

.button-group .btn {
  width: 80%;
}

.button-group .material-icons {
  font-size: 28px;
}

img.button-icon {
  height: 1.5rem;
}

.button-text {
  vertical-align: middle;
}

#content h2 {
  font-size: 24px;
}

#content h3 {
  font-size: 20px;
}

/* Center images within the div */
div .center-inside {
  position: relative;
  height: 100%;
  min-height: 50px;
  line-height: 50px;
  text-align: center;
}


/* Prevent accidental dragging on images and links */
img, a {
  -webkit-user-drag: none;
  user-drag: none;
}

/* Collapsible Sub-Sections */
.sub-collapse {
  cursor: pointer;
}

.sub-collapse:hover {
  text-decoration: none;
}

/* Any link (href / onclick) shows the pointing cursor */
a {
  cursor: pointer;
}

/************************
 * Footer
*************************/

#footer {
  background: #222222;
  position: fixed;
  bottom: 0;
  height: 64px;
  width: 100%;
  padding: 0;
  z-index: 10;
}

#footer .footer-content {
  padding: 16px;
  color: white;
}

#footer .social img {
  height: 28px;
  width: 28px;
  margin-right: 5px;
}
.hover-menu-block {
  position: relative;
  display: inline-block;
}
.hover-menu-block .hover-menu {
  background: #404552;
  z-index: 15;
  position: absolute;
  /*bottom: -18px;
  left: 45px;*/
  bottom: 45%;
  border: 1px solid #ddd;
  padding: 5px 10px;
  border-radius: 5px;
  display: none;
  list-style: none;
  color: white;
  width: 160px
}
.hover-menu-block:hover .hover-menu {
  display: block;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
}

.hover-menu li {
  cursor: pointer;
  padding: 2px 5px;
  border-radius: 4px;
  text-align: left;
}

.hover-menu li:hover {
  background: #333;
}

#footer .form a {
  color: white;
  text-decoration: none;
  margin-right: 8px;
  font-size: 14px;
}

#autostart {
  font-size: 24px;
  vertical-align: middle;
  color: white;
}


/* No margin for social icon in navbar */
img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.left {
  margin-right: 10px;
  float: left;
}

img.right {
  margin-right: 10px;
  float: right;
}

hr.soften {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  border: 0;
}

hr.soften-light {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(150,150,150,.4), rgba(0,0,0,0));
  border: 0;
}

.fa-va {
  vertical-align: middle;
}

#boutique-footer {
  color: #7F7F7F;
  line-height: 9px;
}

#boutique-footer > #update-subscribed {
  color: #646464;
}

#boutique-footer > #update-notification a, #update-subscribing  {
  color: white !important;
}

/************************
** Global
*************************/

/* All bootstrap tool-tips */
.tooltip-inner {
  font-size: 12px;
}

/** Fade elements on Main Menu **/
.fade { opacity: 0 }
.fade-1s { -webkit-animation: fadeIn 1000ms forwards 10ms;   animation: fadeIn 1000ms forwards 10ms; }   /** Header **/
.fade-2s { -webkit-animation: fadeIn 1000ms forwards 400ms;  animation: fadeIn 1000ms forwards 400ms; }  /** Subheadings **/
.fade-3s { -webkit-animation: fadeIn 1000ms forwards 600ms;  animation: fadeIn 1000ms forwards 600ms; }  /** Row 1 Buttons **/
.fade-4s { -webkit-animation: fadeIn 1000ms forwards 800ms;  animation: fadeIn 1000ms forwards 800ms; }  /** Row 2 Buttons **/
.fade-5s { -webkit-animation: fadeIn 1000ms forwards 1000ms; animation: fadeIn 1000ms forwards 1000ms; }  /** Row 3 Buttons **/

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.success-text {
  color: #477301;
}

/************************
 * Introduction Page
*************************/
.slogan-box {
  position: relative;
  top: -20px;
  margin-left: -20px;
  margin-right: -20px;
  height: 440px;
  z-index: 8
}

.slogan-area {
  display: block;
  width: 100%;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.slogan-text {
  margin-top: 32px;
  margin-bottom: 24px;
  display: block;
  font-size: 32px;
}

.apps-table {
  width: 100%;
  margin-bottom: 8px;
}
.apps-table th, .apps-table td {
  width: 20%;
  text-align: center;
}
.apps-table img {
  height: 64px;
}

@keyframes rotateIn {
  0% {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 200deg);
    opacity: 0;
  }

  100% {
    transform-origin: center;
    transform: none;
    opacity: 1;
  }
}

/************************
 * Main Menu
*************************/
.main-menu-logo {
  width: 170px;
  height: 170px;
  /*top: 0; left: 0; bottom: 0; right: 0;*/
  margin: auto;
  margin-top: 5px;
  margin-bottom: 15px;
  /*position: absolute;*/
  /* z-index: ; */
  pointer-events: none;
}

.main-menu-textbox {
  height: 40px;
  min-height: 40px;
  white-space: nowrap;
}

.main-menu-text {
  margin: 6px;
  padding: 6px;
  text-align: center;
  vertical-align: bottom;
}

/* Shows a notification in the top-right corner */
.heads-up {
  position: fixed;
  top: 8px;
  right: 8px;
  z-index: 11;
  font-size: 16px;
  text-align: right;
}



/************************
 * Getting Started - Push Menu (Index)
*************************/
#index-menu {
  height: 100%;
  width: 270px;
  top: 0;
  left: 0;
  bottom: 0;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 60px;
  padding-bottom: 50px;
  position: fixed;
  background: #404552;
  color: #fff;
  z-index: 8;
  display: none;
}

.index-btn {
  width: 100%;
  text-align: left;
}

#index-close {
  float: right;
  position: relative;
  text-align: right;
  color: #fff;
}

.topicContents {
  margin-bottom: 16px;
  display: none;
}

#index-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: default;
  z-index: 8;
}

/************************
 * Getting Started - System Specifications
*************************/
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  background: none;
  color: black;
}

#specs-icon {
  height: auto;
  margin: auto;
  position: absolute;
  margin-top: 120px;
}

#specs-icon img {
  width: 180px;
  height: auto;
  margin-bottom: 80px;
}

#specs-loading {
  width: 80%;
  height: 25px;
  top: 100px; bottom: 0; left: 0; right: 0;
  margin: auto;
  position: absolute;
  text-align: center;
}

#specs-box {
  left: 25%;
  width: 74%;
  padding: 4px;
  position: relative;
}

.specs-box h4 {
  color: #758A53;
}

.specs-error {
  color: #FF0000;
}

#specs-more .icon {
  width: 80px
}

.secondary-value {
  opacity: 0.5;
}

.secondary-value:hover {
  opacity: 1;
}

#disk-usage {
  width: 100%;
  height: 8px;
  background-color: #C8C8C8;
  border: 1px solid #8C8C8C;
  overflow: hidden;
}

.disk-line {
  float: left;
  height: 100%;
}

#disk-used {
  background-color: #87A556;
}

#disk-free {
  background-color: #C2D3A6;
}

#disk-other {
  background-color: #484848;
}

.disk-legend {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  float: left;
  vertical-align: middle;
  margin: 4px;
}

/************************
* Getting Started - Shortcuts
*************************/
.shortcuts .material-icons {
  color: #888;
  font-size: 18px;
}

/************************
* Getting Started - Browser Ballot
************************/

.application {
  padding: 5px;
}

.application img {
  padding-bottom: 5px;
  width: 72px;
}

.application .btn {
  max-width: 160px;
  display: block;
  margin: auto;
}

/************************
 * Community page styles
*************************/
.social-banner {
  background: #404552;
  height: 72px;
  text-align: center;
}

.social-banner img {
  height: 40px;
  margin-top: 16px;
}

.community-groups ul {
  padding-left: 0;
  margin: 10px;
}

/******************************
 * Override default bootstrap styles
*******************************/
.btn-inverse {
  color: white;
  background-color: #FFB500;;
  margin: 2px;
  transition: background 0.2s ease;
}

.btn-inverse:hover {
  color: white;
  background-color: #f3cc6d;
}

.btn-inverse:active {
  background-color: #5294e2;
}

.text-right {
  text-align: right;
}

.hidden {
  display: none;
}

.btn {
  border: 0;
  padding: 0.1rem 0.5rem 0.2rem;
}

.btn-primary {
  background:  #FFB500;
  transition: background 0.2s ease;
}

.btn-primary:hover {
  background:  #f3cc6d;
  transition: background 0.2s ease;
}

a.btn-primary.disabled {
  background: #FFB500;
}

.btn-lg {
  line-height: 1.8em;
}

.code {
	width: 100%;
	padding: 5px;
	background: #eee;
	font-weight: bold;
}

a:not([href]):not([tabindex]),
a:focus:not([href]):not([tabindex]),
a:hover:not([href]):not([tabindex]) {
  color: #337ab7
}

a:not([href]):not([tabindex]).btn,
a:focus:not([href]):not([tabindex]).btn,
a:hover:not([href]):not([tabindex]).btn {
  color: white
}

.text-md-justify {
  text-align: justify
}
/* button hover effect **/
/* source: https://github.com/IanLunn/Hover/blob/master/css/hover.css*/
/* Shadow */
.hvr-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-shadow:hover, .hvr-shadow:focus, .hvr-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

/* Live session and post installation session options */
.live-session-only, .normal-session-only {
  display: none
}

/* Official releases & Unofficial releases */
.official-only, .unofficial-only {
  display: none;
}

/*Popup message */
#popup-message-window {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  padding-top: 150px;
  text-align: center;
  outline: 0;
  background: rgba(255, 255, 255, 0.8);
  color: black;
}

#popup-message-container {
  background: #404552;
  width: 50%;
  margin: auto;
  padding: 15px;
  color: white;
  max-height: 400px;
}

#popup-message {
  text-align: left;
}

#details {
  color: black;
  width: 100%
}

#status-table-container {
  height: 200px;
  overflow: scroll;
}

#status-table-container th {
  text-align: center
}

/*Donate Page*/
.donate-banner img {
  height: 60px;
  border: 1px solid rgba(208, 208, 208, 0.25);
  padding: 10px;
  border-radius: 0.15rem;
  transition: background 0.5s ease;
}
.donate-banner img:hover {
  border: 1px solid #ddd;
  background: #ddd;
  transition: background 0.5s ease;
}
